$c-d-purple:#8e24aa;
$c-l-purple: #D765F4;
$c-black: #212121;
$c-white: #ffffff;
$c-yellow: #fff9c4;

$html-size: 62.5%;
$s-font: 1.6rem;
$s-sub: 1.8rem;
$s-title: 2.4rem;
$s-mid-title: 3.6rem;
$s-big-title: 4.8rem;